.conteneurPrincipal{width: 100%;}

.formulaire{
    width: 100%;
    margin: auto;
    display:flex;
    justify-content: center;}

.h1{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;}

.div1{
    width: 98%;
    margin: auto;
    background-color: #265E92;
    padding: 2rem;
    border-radius: 0.5rem;}

.div1 label{
    display: inline-block;
    width: 40%;
    text-align: right;
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: white;
    font-size: 1.3rem;}

.div1 select{
    height: 2rem;
    margin: 0 0 1rem 3rem;
    padding-left: 0.5rem;
    border-radius: 0.5rem;
}

.inputItem{
    width: 40%;
    height: 2rem;
    margin: 0 0 1rem 3rem;
    padding-left: 0.5rem;
    border-radius: 0.5rem;}

.checkItem{margin-top: 2rem;}


.divBtnAjouter{
    display: flex;
    justify-content: center;}
.boutonItem{
    width: 35%;
    height: 2rem;
    margin: 3rem 0 2rem 0;
    border-radius: 5rem;
    box-shadow: 3px 3px 3px;
    background-color: #C6E60F;
    font-family: "Marko One", Arial, Helvetica, sans-serif;
    font-size: 1.4rem;}
.boutonItemUP{
    width: 50%;
    height: 2rem;
    margin: 3rem 0 2rem 0;
    border-radius: 5rem;
    box-shadow: 3px 3px 3px;
    background-color: #C6E60F;
    font-family: "Marko One", Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
}





@media screen and (min-width: 768px) {
    .div1{width: 60%;}
}