*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;}



/* CSS PAGE BOUTIQUE */
.conteneurGlobal {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;}

.conteneurG {
    order: 2;}
/* Fin conteneur principaux */


/* Conteneur droite */
.conteneurD{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Formulaire */
.conteneurGeneralRecap{
    width: 98%;
    border: double #265E92;
    margin: 2rem 0 5rem 0;
}




.conteneurInfoUtilisateur{
    display: flex;
}

.labelUtilisateur{
    display: flex;
    flex-direction: column;
}

.inputUtilisateur{
    display: flex;
    flex-direction: column;
}
